/*
 * Bootstrap Documentation
 * Special styles for presenting Bootstrap's documentation and code examples.
 */




/* Key scaffolding
-------------------------------------------------- */

body {
  position: relative; /* For scrollyspy */
  /* padding-top: 50px;  Account for fixed navbar */
}
.container {
    margin: 0 auto;
    max-width: 800px;
}

/* Left nav
 * 
 */
.nav .left-menu {
    background: rgb(189,195,199); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(189,195,199,1) 0%, rgba(189,195,199,1) 20%, rgba(149,165,166,1) 21%, rgba(149,165,166,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(189,195,199,1)),
       color-stop(20%,rgba(189,195,199,1)), 
       color-stop(21%,rgba(149,165,166,1)), 
       color-stop(99%,rgba(149,165,166,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(189,195,199,1) 0%,rgba(189,195,199,1) 20%,rgba(149,165,166,1) 21%,rgba(149,165,166,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(189,195,199,1) 0%,rgba(189,195,199,1) 20%,rgba(149,165,166,1) 21%,rgba(149,165,166,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(189,195,199,1) 0%,rgba(189,195,199,1) 20%,rgba(149,165,166,1) 21%,rgba(149,165,166,1) 99%); /* IE10+ */
background: linear-gradient(to right,  rgba(189,195,199,1) 0%,rgba(189,195,199,1) 20%,rgba(149,165,166,1) 21%,rgba(149,165,166,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdc3c7', endColorstr='#95a5a6',GradientType=1 ); /* IE6-9 */

font-family: 'RobotoCondensedRegular';
font-size: 100%;
}
.nav .left-menu > li > a {
    
    color: #ecf0f1;
}
.nav .left-menu > li > a:hover {
    
    color: #34495e;
}
.nav .left-menu > .active > a,
.nav .left-menu > .active > a:hover {
    
    color: #2c3e50;
}

.footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 100px;
  text-align: center;
  background: rgb(52,73,94); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(52,73,94,1) 0%, rgba(52,73,94,1) 20%, rgba(44,62,80,1) 21%, rgba(44,62,80,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(52,73,94,1)), color-stop(20%,rgba(52,73,94,1)), color-stop(21%,rgba(44,62,80,1)), color-stop(99%,rgba(44,62,80,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(52,73,94,1) 0%,rgba(52,73,94,1) 20%,rgba(44,62,80,1) 21%,rgba(44,62,80,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(52,73,94,1) 0%,rgba(52,73,94,1) 20%,rgba(44,62,80,1) 21%,rgba(44,62,80,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(52,73,94,1) 0%,rgba(52,73,94,1) 20%,rgba(44,62,80,1) 21%,rgba(44,62,80,1) 99%); /* IE10+ */
background: linear-gradient(to right,  rgba(52,73,94,1) 0%,rgba(52,73,94,1) 20%,rgba(44,62,80,1) 21%,rgba(44,62,80,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34495e', endColorstr='#2c3e50',GradientType=1 ); /* IE6-9 */

font-family: 'RobotoCondensedRegular';
font-size: 100%;
}
.footer p {
  margin-bottom: 0;
  color: #ecf0f1;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}

.site-description {
    background: rgb(52,152,219); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(52,152,219,1) 0%, rgba(52,152,219,1) 20%, rgba(41,128,185,1) 21%, rgba(41,128,185,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(52,152,219,1)), color-stop(20%,rgba(52,152,219,1)), color-stop(21%,rgba(41,128,185,1)), color-stop(99%,rgba(41,128,185,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(52,152,219,1) 0%,rgba(52,152,219,1) 20%,rgba(41,128,185,1) 21%,rgba(41,128,185,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(52,152,219,1) 0%,rgba(52,152,219,1) 20%,rgba(41,128,185,1) 21%,rgba(41,128,185,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(52,152,219,1) 0%,rgba(52,152,219,1) 20%,rgba(41,128,185,1) 21%,rgba(41,128,185,1) 99%); /* IE10+ */
background: linear-gradient(to right,  rgba(52,152,219,1) 0%,rgba(52,152,219,1) 20%,rgba(41,128,185,1) 21%,rgba(41,128,185,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3498db', endColorstr='#2980b9',GradientType=1 ); /* IE6-9 */
font-family: 'RobotoCondensedRegular';
font-size: 100%;
color: #34495e
}
.tagcloud {
    background: rgb(44,62,80); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(44,62,80,1) 0%, rgba(44,62,80,1) 20%, rgba(52,73,94,1) 21%, rgba(52,73,94,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(44,62,80,1)), color-stop(20%,rgba(44,62,80,1)), color-stop(21%,rgba(52,73,94,1)), color-stop(99%,rgba(52,73,94,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(44,62,80,1) 0%,rgba(44,62,80,1) 20%,rgba(52,73,94,1) 21%,rgba(52,73,94,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(44,62,80,1) 0%,rgba(44,62,80,1) 20%,rgba(52,73,94,1) 21%,rgba(52,73,94,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(44,62,80,1) 0%,rgba(44,62,80,1) 20%,rgba(52,73,94,1) 21%,rgba(52,73,94,1) 99%); /* IE10+ */
background: linear-gradient(to right,  rgba(44,62,80,1) 0%,rgba(44,62,80,1) 20%,rgba(52,73,94,1) 21%,rgba(52,73,94,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c3e50', endColorstr='#34495e',GradientType=1 ); /* IE6-9 */
   font-family: 'RobotoCondensedRegular';
   font-size: 100%;
    color: #3498db;
}
.content {
    background: rgb(189,195,199); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(189,195,199,1) 0%, rgba(189,195,199,1) 20%, rgba(236,240,241,1) 21%, rgba(236,240,241,1) 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(189,195,199,1)), color-stop(20%,rgba(189,195,199,1)), color-stop(21%,rgba(236,240,241,1)), color-stop(99%,rgba(236,240,241,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(189,195,199,1) 0%,rgba(189,195,199,1) 20%,rgba(236,240,241,1) 21%,rgba(236,240,241,1) 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(189,195,199,1) 0%,rgba(189,195,199,1) 20%,rgba(236,240,241,1) 21%,rgba(236,240,241,1) 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(189,195,199,1) 0%,rgba(189,195,199,1) 20%,rgba(236,240,241,1) 21%,rgba(236,240,241,1) 99%); /* IE10+ */
background: linear-gradient(to right,  rgba(189,195,199,1) 0%,rgba(189,195,199,1) 20%,rgba(236,240,241,1) 21%,rgba(236,240,241,1) 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdc3c7', endColorstr='#ecf0f1',GradientType=1 ); /* IE6-9 */

color: #34495e;
}


/* Docs pages and sections
-------------------------------------------------- */

/* Page headers */
.header {
  padding: 30px 30px 40px;
  font-size: 16px;
  color: #5a5a5a;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.header h1 {
  color: #b94a48;
}
.header p {
  font-weight: 300;
  line-height: 1.5;
}

/*
 * page-header pge-content
 */

.page-header {
    background-color: #34495e;
    color:#ECF0F1
    font-family: 'RobotoSlabBold';
    font-size: 100%;
}
.page-content {
    color: #34495E;
    font-family: 'RobotoBlack';
    font-size: 100%;
}

.post-header {
    background-color: #c0392b;
    color: #34495E;
    font-family: 'RobotoSlabRegular';
    font-size: 100%;
}
.post-date{
    color: ##2c3e50;
    font-family: 'RobotoSlabThin';
    font-size: 100%;
}
.post-content{
    color: #34495E;
    font-family: 'RobotoMedium';
    font-size: 100%;
}

.post-share {
    
}

.bs-social {
    font-family:'icomoon';
    font-size: 100%;
}


.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
.highlight pre {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-color: transparent;
  border: 0;
  white-space: nowrap;
}
.highlight pre code {
  font-size: inherit;
  color: #333; /* Effectively the base text color */
}
.highlight pre .lineno {
  display: inline-block;
  width: 22px;
  padding-right: 5px;
  margin-right: 10px;
  text-align: right;
  color: #bebec5;
}




