<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
  <!-- head include-->
  {% include themes/modernism/head.html %}
  </head>
  <body>
  
  
  
  <!-- navbar-->
  
  <div class="container">
   <div class="row">
   <!-- Left Menu -->
   <div class="col col-lg-3">
    
      <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
        {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
        <!-- footer -->
        <footer>
     {% include footer-colophon.html %}
    </footer>
      </ul>
      <!-- tag cloud -->
      
      
      {% include JB/tagcloud %}
      
    </div>
    <!-- content -->
    <div class="col col-lg-5">
       <div class="content">
       {{ content }}
       </div>
       </div>
    </div> <!-- end row -->
</div>

  
  
      <!-- analytics include -->
      {% include JB/analytics %}
      <!-- footer js includes -->
      {% include themes/modernism/footer-includes.html %}
   </body>